<div class="grid">
  <div class="row">
    <div class="col">
      <h1>
        Othello League
        <span class="tag tag-success tag-small" ng-if="ctrl.tournament.status === 'ongoing'">Already started</span>

        <span class="tag tag-danger tag-small" ng-if="ctrl.tournament.status === 'finished'">Finished</span>
      </h1>
      <p>Welcome to the <strong>Othello League's Dashboard</strong>. Here you can watch and control what is going on with the league. For example, the following table shows the AI players that are currently online.</p>

      <p class="placeholder" ng-show="!ctrl.players || ctrl.players.length === 0">Waiting players to connect...</p>

      <table class="players data-table" ng-show="ctrl.players.length > 0">
        <tr>
          <th>No</th>
          <th>Nombre</th>
          <th>Ganados</th>
          <th>Perdidos</th>
          <th>Empatados</th>
          <th>Disponible</th>
        </tr>
        <tr ng-repeat="player in ctrl.players | orderBy: '-wins'">
          <td>
            <span class="ranking">{{ $index + 1 }}</span>
          </td>
          <td>{{ player.user_name }}</td>
          <td>{{ player.wins }}</td>
          <td>{{ player.loses }}</td>
          <td>{{ player.draws }}</td>
          <td ng-switch="ctrl.getStatus(player)">

            <span ng-switch-when="available">
              <a
                we-button
                color="success"
                icon="check"
                size="tiny"></a>
            </span>

            <span ng-switch-when="playing">
              <a
                we-button
                color="danger"
                icon="times"
                size="tiny"></a>
            </span>
          </td>
        </tr>
      </table>

      <div class="start-league-section" ng-switch="ctrl.tournament.status">

        <span ng-switch-when="waiting">
          <a
            we-button
            icon="star"
            color="warning"
            class="block"
            ng-click="ctrl.startTournament()">
            Start Tournament
          </a>
        </span>

        <span ng-switch-when="ongoing">
          <a
            we-button
            icon="times"
            color="danger"
            class="block"
            ng-click="ctrl.resetTournament()">
            Stop and reset tournament
          </a>
        </span>

        <span ng-switch-when="finished">
          <a
            we-button
            icon="refresh"
            color="success"
            class="block"
            ng-click="ctrl.resetTournament()">
            Reset tournament
          </a>
        </span>

      </div>

      <h2 class="ongoing-events-title">Recent games ({{ ctrl.games.length }})</h2>
      <p>The following table has all the matches that are happening right now. The oldest matches come last:</p>

      <p class="placeholder" ng-show="!ctrl.players || ctrl.games.length === 0">Waiting the league to start...</p>

      <table class="games data-table" ng-show="ctrl.games.length > 0">
        <tr>
          <th>Game ID</th>
          <th>Time</th>
          <th>Players</th>
          <th>Winner</th>
          <th>Unstuck</th>
        </tr>

        <tr ng-repeat="game in ctrl.games | orderBy: '-date_time' ">
          <td>{{ game.id }}</td>
          <td am-time-ago="game.date_time"></td>
          <td>
            <span class="tag tag-info tag-small">{{ game.player_1.user_name }}</span> vs
            <span class="tag tag-warning tag-small">{{ game.player_2.user_name }}</span>
          </td>
          <td>

            <span
              ng-if="game.status === 'finished'">

              <span
                class="tag tag-small tag-info"
                ng-if="game.winner.id === game.player_1.id">
                {{ game.player_1.user_name }}
              </span>

              <span
                class="tag tag-small tag-warning"
                ng-if="game.winner.id === game.player_2.id">
                {{ game.player_2.user_name }}
              </span>

              <span
                class="tag tag-small tag-gray"
                ng-if="game.winner.id !== game.player_1.id && game.winner.id !== game.player_2.id">draw</span>
            </span>

            <span
              class="tag tag-small tag-danger"
              ng-if="game.status !== 'finished'">ongoing</span>
          </td>

          <td>
            <a
              we-button
              color="info"
              icon="unlock"
              size="tiny"
              ng-click="ctrl.unstuckGame(game.id, 1)"></a>

            <a
              we-button
              color="warning"
              icon="unlock"
              size="tiny"
              ng-click="ctrl.unstuckGame(game.id, 2)"></a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>